
<div>
    <div>
    <a href="https://twitter.com/ONETUG" class="twitter-follow-button" data-show-count="false">Follow @string.Format("@ONETUG")</a>
    <script type="text/javascript">
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");
    </script>
    </div>
    <div>
    <a class="twitter-timeline" href="https://twitter.com/search?q=%40ONETUG" data-widget-id="@System.Configuration.ConfigurationManager.AppSettings["WidgetId"]" width="300" height="400">Tweets about "@@ONETUG"</a>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
    <div style="clear:both"></div>
</div>
    <div style="clear:both"></div>

