<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EndPointUrl" value="https://santosh.documents.azure.com:443/"/>
    <add key="AuthorizationKey" value="V7IQTSaWvNwPcMBXAnYVk19ZSzhNPsk82A3o8MHrLF4g0K35a81Z1gsUKYZ4un9wZe4WOpAfKtmoKHKrdfE6Ig=="/>
    <add key="DatabaseId" value="onetug"/>
    <add key="CollectionId" value="websitedev"/>

  </appSettings>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Core.Properties.Settings>
            <setting name="GroupName" serializeAs="String">
                <value>MyDotNetGroup</value>
            </setting>
            <setting name="MeetupGroupName" serializeAs="String">
                <value>MyDotNetGroup</value>
            </setting>
            <setting name="TwitterHandle" serializeAs="String">
                <value>MyDotNetGroup</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>My .NET User Group</value>
            </setting>
            <setting name="LinkedInGroup" serializeAs="String">
                <value>00000000</value>
            </setting>
            <setting name="FacebookGroupName" serializeAs="String">
                <value>MyDotNetGroup</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value>MyGroup@MyGroup.net</value>
            </setting>
            <setting name="TwitterWidgetId" serializeAs="String">
                <value>000000000000000000</value>
            </setting>
            <setting name="MailChimpApiKey" serializeAs="String">
                <value>{value here}</value>
            </setting>
            <setting name="MailChimpGroupId" serializeAs="String">
                <value>{value here}</value>
            </setting>
            <setting name="MeetupApi" serializeAs="String">
                <value>{value here}</value>
            </setting>
            <setting name="GithubOwner" serializeAs="String">
                <value>desinole</value>
            </setting>
            <setting name="GithubRepro" serializeAs="String">
                <value>ONETUG-web</value>
            </setting>
        </Core.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>