<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Core.Properties.Settings>
            <setting name="GroupName" serializeAs="String">
                <value>MyDotNetGroup</value>
            </setting>
            <setting name="MeetupGroupName" serializeAs="String">
                <value>MyDotNetGroup</value>
            </setting>
            <setting name="TwitterHandle" serializeAs="String">
                <value>MyDotNetGroup</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>My .NET User Group</value>
            </setting>
            <setting name="LinkedInGroup" serializeAs="String">
                <value>00000000</value>
            </setting>
            <setting name="FacebookGroupName" serializeAs="String">
                <value>MyDotNetGroup</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value>MyGroup@MyGroup.net</value>
            </setting>
            <setting name="TwitterWidgetId" serializeAs="String">
                <value>000000000000000000</value>
            </setting>
            <setting name="MailChimpApiKey" serializeAs="String">
                <value>{value here}</value>
            </setting>
            <setting name="MailChimpGroupId" serializeAs="String">
                <value>{value here}</value>
            </setting>
            <setting name="MeetupApi" serializeAs="String">
                <value>{value here}</value>
            </setting>
            <setting name="GithubOwner" serializeAs="String">
                <value>desinole</value>
            </setting>
            <setting name="GithubRepro" serializeAs="String">
                <value>ONETUG-web</value>
            </setting>
        </Core.Properties.Settings>
    </applicationSettings>
</configuration>