@{
    ViewBag.Title = "Home";
}
<div>
    <hgroup class="title">
        <h1>Join Onetug</h1>
    </hgroup>

    <div>
        <ol>
            <li>@Html.ActionLink(string.Format("Signup for {0} newsletter", Html.GroupName()), "Join")</li>
            <li><a target="_blank" href="http://www.meetup.com/@Html.MeetupGroupName()/">Join @Html.GroupName() meetup group</a></li>
        </ol>
    </div>
</div>
<div style="clear: both"></div>
<div>
    <hgroup class="title">
        <h1>Upcoming Events</h1>
    </hgroup>

    <div ng-controller="eventsController" ng-init="init('@Url.Content("~/api/upcomingmeetings")')">
        {{eventJson}}
        <div ng-hide="events">
            No upcoming meetings on schedule. Please check back in a couple of days.
        </div>
        <div id="divEvents" ng-show="events">
            <div style="border:1px" ng-repeat="event in events">
                <h4 class="ui-widget-header">{{event.Name}}</h4>
                <p><strong>When:</strong>&nbsp;{{event.MeetingTime}}</p>
                <p><strong>Where:</strong><br />{{event.VenueName}}<br />{{event.VenueAddress}}</p>
                <a ng-href="{{event.Url}}"><strong><em>Join {{attendees(event.NumberRSVPedYes)}} other attendees</em></strong></a>
                {{event.MeetingDescriptionHTML}}
            </div>
        </div>
    </div>
</div>
