@{
    ViewBag.Title = "Join";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h6>Membership in the group is FREE and open to all .NET enthusiasts (professionals, students, hobbyists).<br />To join, please register for our email list:</h6>
</hgroup>
@Html.Partial("_MailChimp")