@{
    ViewBag.Title = "The Team";
}
<script>
    $(function () {
        $.getJSON("@Url.Content("~/api/team")", function (data) {
            $("#divTeam").html("");
            for (var i = 0; i < data.length; i++) {
                $("#divTeam").append("<div>");
                $("#divTeam").append('<img src="@Url.Content("~/Images/")' + data[i].ImageFileName + '" style="float:left;padding-right:10px" height="150px" />');
                $("#divTeam").append("<p><strong>" + data[i].Name + "</strong>, " + data[i].Position + "</p>");
                $("#divTeam").append("<p>" + data[i].DescriptionHTML + "</p>");
                $("#divTeam").append("</div>");
                $("#divTeam").append('<div style="clear:both"></div>');
                $("#divTeam").append('<div>&nbsp;</div>');
                $("#divTeam").append('<div style="clear:both"></div>');
            }
        });
    });
</script>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<div>Email us at <a href="emailto:@Html.GroupEmailAddress()">@Html.GroupEmailAddress()</a></div>

<div id="divTeam">

</div>