@{
    ViewBag.Title = "The Team";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>Email us at <a href="emailto:@Html.GroupEmailAddress()">@Html.GroupEmailAddress()</a></div>
<div id="divTeam" ng-controller="teamController" ng-init="init('@Url.Content("~/api/team")')">
    <div ng-repeat="member in team">
        <div>
            <img ng-src="@Url.Content("~/Images/"){{member.ImageFileName}}" style="float:left;padding-right:10px;height:150px;" />
            <p><strong>{{member.Name}}</strong> {{member.Position}}</p>
            <p>{{member.DescriptionHTML}}</p>
        </div>
        <div style="clear:both"></div>
        <div>&nbsp;</div>
        <div style="clear:both"></div>
    </div>
</div>